<main class="mt-5 mb-8">
    <div class="container">
        <div class="row my-4">
            <div class="col-sm-12 col-md-6 offset-md-3 border-1">
                <div class="register-title">
                    <h3>Forgot password</h3>
                </div>
                <p class="forgot-password-text">Lost your password? Please enter your email address. You will receive a link to create a new password via email.</p>
                {{#if successMessage}}
                    <h5 class="success-message mb-4">{{successMessage}}</h5>
                {{/if}}
                
                {{#if errorMessage}}
                    <h5 class="error-message mb-4">{{fa-icon "exclamation-triangle"}}{{errorMessage}}</h5>
                {{/if}}
                <label for="email">Enter Email</label>
                {{input id="email" class='form-input mb-4' type='email' value=email}}
                <button class="form-button button-purple" {{action "generateToken"}}>Submit</button>
                <p class="text-center">{{#link-to 'login'}}{{fa-icon 'arrow-circle-left'}} Back to login{{/link-to}}</p>
            </div>
        </div>
    </div>
</main>