<main>
    <div id="landing-item" class="bg-grey">
        <div class="container">
            {{landing-item model=landingItem}}
        </div>
    </div>
    {{extended-navbar}}
    <div class="container">
        {{#if currentUser}}
          <a style="color: black" {{action 'logout'}}>Logout {{currentUser.userId}}</a>
        {{/if}}
        <div id="feature-collection" class="mt-5">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="pb-2 border-d-2">Feature Collection</h3>
                </div>
            </div>
            <div class="row justify-content-between">
                {{#each popularItems as |itemUnit|}}
                        <div class="col-lg-4 my-3">
                            {{#link-to 'item' itemUnit.id}}
                            {{feature-collection item=itemUnit}}
                            {{/link-to}}
                        </div>    
                {{/each}}
            </div>
        </div>
        <div id="feature-product" class="mt-5">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="pb-2 border-d-2">Feature Products</h3>
                </div>
            </div>
            <div class="row justify-content-between">
                {{#each featureProducts as |itemUnit|}}
                        <div class="col-lg-3 my-3">
                            {{#link-to 'item' itemUnit.id}}
                            {{feature-collection item=itemUnit}}
                            {{/link-to}}
                        </div>    
                {{/each}}
            </div>
        </div>
        {{top-rated}}
    </div>
        
    {{outlet}}
</main>

