<main>
    <div id="landing-item" class="bg-grey">
        <div class="container">
            {{landing-item model=landingItem}}
        </div>
    </div>
    {{extended-navbar}}
    <div class="container">
        {{#if currentUser}}
          <a style="color: black" {{action 'logout'}}>Logout {{currentUser.email}}</a>
        {{/if}}
        <div id="feature-collection" class="mt-5">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="pb-2 border-d-2">Feature Collection</h3>
                </div>
            </div>
            <div class="row juctify-content-between">
<<<<<<< b960e14c022738ee71d217503417bd5c123699c8
<<<<<<< 27c22a56dc4a50813e90368857a859e7409be507
                {{#each popularItems as |itemUnit|}}
=======
                {{#each model1 as |itemUnit|}}
>>>>>>> Added static landing-page
=======
                {{#each popularItems as |itemUnit|}}
>>>>>>> Landing-page(2)
                        <div class="col-lg-4 my-3">
                            {{#link-to 'item'}}
                            {{feature-collection item=itemUnit}}
                            {{/link-to}}
                        </div>    
                {{/each}}
            </div>
        </div>
        <div id="feature-product" class="mt-5">
<<<<<<< b960e14c022738ee71d217503417bd5c123699c8
<<<<<<< 27c22a56dc4a50813e90368857a859e7409be507
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="pb-2 border-d-2">Feature Products</h3>
                </div>
            </div>
            <div class="row juctify-content-between">
                {{#each featureProducts as |itemUnit|}}
                        <div class="col-lg-3 my-3">
                            {{#link-to 'item'}}
                            {{feature-collection item=itemUnit}}
                            {{/link-to}}
                        </div>    
                {{/each}}
            </div>
        </div>
        {{top-rated}}
    </div>
=======
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="pb-2 border-d-2">Feature Products</h3>
                    </div>
                </div>
                <div class="row juctify-content-between">
                    {{#each model2 as |itemUnit|}}
                            <div class="col-lg-3 my-3">
                                {{#link-to 'item'}}
                                {{feature-collection item=itemUnit}}
                                {{/link-to}}
                            </div>    
                    {{/each}}
                </div>
        </div>
        <div id="custom-product" class="mt-5">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="tabs">
                            <a href="#new-arrivals" class="tabs-tab tabs-tab-active">New Arrivals</a>
                            <a href="#top-rated" class="tabs-tab">Top Rated</a>
                            <a href="#last-chance" class="tabs-tab">Last Chance</a>
                        </div>
                    </div>
                </div>
                <div class="row tab-content juctify-content-between">
                    <div id="new-arrivals" role="tabpanel" class="col-sm-12">
                        <div class="row">
                            {{#each model2 as |itemUnit|}}
                                <div class="col-lg-3 my-3">
                                    {{#link-to 'item'}}
                                        {{feature-collection item=itemUnit}}
                                    {{/link-to}}
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="row tab-content juctify-content-between">                
                    <div id="top-rated" role="tabpanel" class="col-sm-12">
                        <div class="row">
                            {{#each model2 as |itemUnit|}}
                                <div class="col-lg-3 my-3">
                                    {{#link-to 'item'}}
                                        {{feature-collection item=itemUnit}}
                                    {{/link-to}}
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="row tab-content juctify-content-between">                
                    <div id="last-chance" role="tabpanel" class="col-sm-12">
                        <div class="row">
                            {{#each model2 as |itemUnit|}}
                                <div class="col-lg-3 my-3">
                                    {{#link-to 'item'}}
                                        {{feature-collection item=itemUnit}}
                                    {{/link-to}}
                                </div>
                            {{/each}}
                        </div>
                    </div>      
                    
=======
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="pb-2 border-d-2">Feature Products</h3>
>>>>>>> Landing-page(2)
                </div>
            </div>
            <div class="row juctify-content-between">
                {{#each featureProducts as |itemUnit|}}
                        <div class="col-lg-3 col-md-6 col-sm-12 my-3">
                            {{#link-to 'item'}}
                            {{feature-collection item=itemUnit}}
                            {{/link-to}}
                        </div>    
                {{/each}}
            </div>
        </div>
<<<<<<< b960e14c022738ee71d217503417bd5c123699c8
>>>>>>> Added static landing-page
=======
        {{top-rated}}
    </div>
>>>>>>> Landing-page(2)
        
    {{outlet}}
</main>

