<main>
    <div class="container">
        <div class="row my-4">
             <div class="col-md-5 mt-3 border-d-md-2">
                    <div id="carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            {{#each model.item.photos as |image index|}}
                                {{#if index}}
                                    <div class="carousel-item">
                                        <div class="carousel-item-image" style="background-image:url('{{image.photoPath}}')">
                                        </div>
                                    </div>
                                {{else}}
                                    <div class="carousel-item active">
                                        <div class="carousel-item-image" style="background-image:url('{{image.photoPath}}')">
                                        </div>
                                    </div>
                                {{/if}}
                            {{/each}}
                            
                        </div>
                        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon-custom c-black" aria-hidden="true">{{fa-icon 'chevron-circle-left' size='2'}} </span>
                        </a>
                        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon-custom c-black" aria-hidden="true"> {{fa-icon 'chevron-circle-right' size='2'}}</span>
                        </a>
                    </div>
                <div class="row my-3">
                    <div class="carousel-inner col-sm-12">
                        <div class="row">

                            {{#each model.item.photos as |image index|}}
                                {{#if index}}
                                    <div class="thumb">
                                        <div data-target="#carousel" data-slide-to="{{index}}" class="thumb-image border-2"
                                            style="background-image:url('{{image.photoPath}}')"></div>
                                    </div><!-- /item -->
                                {{else}}
                                    <div class="active thumb">
                                        <div data-target="#carousel" data-slide-to="{{index}}" class="thumb-image border-2"
                                            style="background-image:url('{{image.photoPath}}')"></div>
                                    </div><!-- /item -->
                                {{/if}}
                            {{/each}}
                        </div>
                    </div><!-- /carousel-inner -->
                </div>
            </div>

            <div class="col-md-7 mt-3">
                <h3>{{model.item.name}}</h3>
                <p>Start from - ${{model.item.startingPrice}}</p>
                {{item-bid item=model.item maxBid=model.maxBid user=currentUser refresh='refresh'}}
                <p>Highest bid: ${{model.maxBid.maxBid}}</p>
                <p>No.bids: {{model.maxBid.numOfBids}}</p>
                <p>Time left: {{countdown-string item=item}}</p>
                <button class="custom-button col-md-4 col-sm-12" {{action 'refresh'}}>Watchlist {{fa-icon 'heart' size="lg" class="c-grey"}}</button>
                <h5 class="border-d-2 my-3">Details</h5>
                <p class="fs-14">{{model.item.description}}</p>
                {{model.item.photos.[0].photoPath}}
            </div>
        </div>
    </div>
</main>