<main>
    <div class="container">
<<<<<<< f936bc15ae0b3378ca25315665c89f44d557bea6
        <div class="row my-4">
            <div class="col-sm-12 col-md-6 offset-md-3 border-1">
                <div class="register-title">
                    <h3>Register</h3>
                </div>
                {{#if errorMessage}}
                    <p class="error-message">{{fa-icon "exclamation-triangle"}}{{errorMessage}}</p>
                {{/if}}
                <label for="firstname">First Name</label>
                {{input id="firstname" class='form-input mb-4' type='text' value=firstName}}
                <label for="last_name">Last Name</label>
                {{input id="last_name" class='form-input mb-4' type='text' value=lastName}}
                <label for="email">Enter Email</label>
                {{input id="email" class='form-input mb-4' type='email' value=email}}
                <label for="password">Password</label>
                {{input id="password" class='form-input mb-4' type='password' value=password}}
                <button class="form-button" {{action "register"}}>Register</button>
                <p class="text-center">Already have an account? {{#link-to 'login'}}Login{{/link-to}}</p>
=======
        <div class="row">
            <div class="margin-m col-sm-12 col-md-6 col-md-offset-3">

>>>>>>> Initial commit
            </div>
        </div>
    </div>
</main>