<footer id="page-footer" class="footer-wrap">
    <div class="container">
        <div class="row">
                <div class="col-sm-12 col-md-4 mb-2">
                    <h6 class="c-grey">Auction</h6>
                    <ul class="footer-list footer-list-right">
                        <li>{{#link-to 'about' class="c-white"}}About us{{/link-to}}</li>
                        <li>{{#link-to 'terms-and-conditions' class="c-white"}}Terms and Conditions{{/link-to}}</li>
                        <li>{{#link-to 'privacy-and-policy' class="c-white"}}Privacy and Policy{{/link-to}}</li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-4 mb-2">
                    <h6 class="c-grey">Get in touch</h6>
                    <ul class="footer-list footer-list-grey">
                        <li><a>Call us at: +387-33-552-883</a></li>
                        <li><a>support@auction.com</a></li>
                        <li>
                            <div id="items">
                                <a href="#" class="nav-item">{{fa-icon 'facebook' size=""}}</a>
                                <a href="#" class="nav-item">{{fa-icon 'instagram' size=""}}</a>
                                <a href="#" class="nav-item">{{fa-icon 'twitter' size=""}}</a>
                                <a href="#" class="nav-item">{{fa-icon 'google-plus' size=""}}</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-4 mb-2">
                    <h6 class="c-grey">Newsletter</h6>
                    <ul class="footer-list footer-list-grey">
                        <li>Enter your email address and get notified about new products. We hate spam!</li>
                        <li>
                            <div class="row pt-1">
                                <div class="box col-sm-12 col-lg-9 pr-lg-1">
                                    {{input type="text" id="newsletter-email" placeholder="Your Email address"}}
                                </div>
                                <div class="box col-sm-12 col-lg-3 pl-lg-1 w-100">
                                    <button class="custom-button">Go {{fa-icon 'angle-right'}}</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
        </div>
    </div>
</footer>