
<div id="top-bar">
  <div class="container">
    <div id="items">
      <a href="#" class="nav-item">{{fa-icon 'facebook' size="lg"}}</a>
      <a href="#" class="nav-item">{{fa-icon 'instagram' size="lg"}}</a>
      <a href="#" class="nav-item">{{fa-icon 'twitter' size="lg"}}</a>
      <a href="#" class="nav-item">{{fa-icon 'google-plus' size="lg"}}</a>
    </div>
    <div class="navbar-expand">
      <div class="navbar-nav">
        {{#if loggedIn}}
          <a class="nav-item nav-link" {{action 'logout'}} style="cursor:pointer">Logout</a>
        {{else}}
          {{#link-to 'login' class="nav-item nav-link"}}Login{{/link-to}}
        {{/if}}
        {{#link-to 'register' class="nav-item nav-link"}}Register{{/link-to}}
      </div>
    </div>
  </div>
</div>
